.dg_nav {
	margin: 0;
}

.dg_primary-navigation {
	background: $gray-light;
	text-align: right;
}

.dg_secondary-nav {
	background: $black;
	font-family: $heading-font-family;
	font-weight: 100;
	text-align: right;

	.dg_secondary-nav-list {
		li {
			padding: $default-padding ($default-padding * 2);
		}
	}

	a {
		color: $white;
	}
}