.dg_primary-action-container {
	display: flex;
	margin: ($default-margin * 4) auto;

	.dg_primacy-action-heading {
		font-weight: 700;
		margin-left: $small-margin;
	}

	.dg_primacy-action {
		width: 50%;
	}

	.dg_primary-services-list {
		font-size: 12px;
		font-family: $heading-font-family;
		font-weight: 700;
		text-transform: uppercase;

		a {
			color: $gray-darkest;
			display: flex;
			align-items: center;
			padding: $default-padding;

			&:hover {
				background: $gold;

				i {
					color: $white;
				}
			}
		}

		i {
			color: $gold;
			display: inline-block;
			margin-right: $small-margin;
			font-size: $base-font-size;
			transition: $default-transition;
		}
	}
}