body {
    font-family: $body-font-family;
    font-size: $base-font-size;
    font-weight: $default-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
}

h1 {
    font-weight: $bold-font-weight;
}

h1.alt-heading,
h2.alt-heading,
h3.alt-heading,
h4.alt-heading,
h5.alt-heading,
h6.alt-heading {
	display: flex;
	font-weight: 700;
	white-space: nowrap;
	align-items: center;

  &:before,
  &:after {
    content: "";
	height: 5px;
	width: 100%;
	background-color: $gray;
	margin: 10px;
  }
}