body {
  font-family: "Crimson Text", serif;
  font-size: 16px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-weight: 700; }

* {
  box-sizing: border-box; }

.dg_nav {
  margin: 0; }

.dg_primary-navigation {
  background: #ededed;
  text-align: right; }

.dg_secondary-nav {
  background: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: right; }
  .dg_secondary-nav .dg_secondary-nav-list li {
    padding: 15px 30px; }
  .dg_secondary-nav a {
    color: #fff; }
