.bc_callout {
	position: relative;

	.bc_callout-figure {
		background: white;
		padding: $default-padding ($default-padding * 2);
		position: absolute;
		bottom: 0;
	}

	.bc_callout-subtitle {
		font-size: 16px;
		text-transform: uppercase;
	}
}